__Načtení dat do pandas (csv, excel, sql)__

In [18]:
import pandas as pd

metoda DataFrame.read_excel(), read_csv(), read_table() načte data ze souboru

In [20]:
# parametr 'usecols' umožní výběr jednotlivých sloupců
apple = pd.read_excel('../data/AppleStore.xlsx', usecols = ["id","track_name","size_bytes","currency","price","rating_count_tot","rating_count_ver","user_rating","ver","cont_rating","prime_genre"])

funkce head()<br>
funkce head() zobrazí začátek datového souboru, implicitně 5 řádků, parametr lze měnit (v příkladu prvních 10 řádků)

In [23]:
funkce head() zobrazí začátek datového souboru, implicitně 5 řádků, parametr lze měnit (v příkladu prvních 10 řádků)
apple.head(10)

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,ver,cont_rating,prime_genre
0,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,6.3.5,4.0,Games
1,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,8.2.2,4.0,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,5.0.0,4.0,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,5.10.0,12.0,Shopping
4,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,7.5.1,4.0,Reference
5,283619399,Shanghai Mahjong,10485713,USD,0.99,8253,5516,4.0,1.8,4.0,Games
6,283646709,PayPal - Send and request money safely,227795968,USD,0.00,119487,879,4.0,6.12.0,4.0,Finance
7,284035177,Pandora - Music & Radio,130242560,USD,0.00,1126879,3594,4.0,8.4.1,12.0,Music
8,284666222,PCalc - The Best Calculator,49250304,USD,9.99,1117,4,4.5,3.6.6,4.0,Utilities
9,284736660,Ms. PAC-MAN,70023168,USD,3.99,7885,40,4.0,4.0.4,4.0,Games

funkce tail()<br>
funkce head() zobrazí konec datového souboru, implicitně 5 řádků, parametr lze měnit jako v případě funkce head()

In [27]:
apple.tail()

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,ver,cont_rating,prime_genre
7192,1187617475,Kubik,126644224,USD,0.00,142,75,4.5,1.3,4.0,Games
7193,1187682390,VR Roller-Coaster,120760320,USD,0.00,30,30,4.5,0.9,4.0,Games
7194,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,USD,1.99,15,0,4.5,1.0.2,9.0,Utilities
7195,1187838770,VR Roller Coaster World - Virtual Reality,97235968,USD,0.00,85,32,4.5,1.0.15,12.0,Games
7196,1188375727,Escape the Sweet Shop Series,90898432,USD,0.00,3,3,5.0,1.0,4.0,Games

parametr nrows = x<br>
parametr 'nrows' načte ze zdrojového datového souboru pouze určitý počet řádků (v příkladu tedy 10 řádků)

In [25]:
drinks = pd.read_csv('../data/drinks.csv', nrows = 10)

In [26]:
drinks

,country,beer_servings,spirit_servings,wine_servings,total,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
5,Antigua & Barbuda,102,128,45,4.9,North America
6,Argentina,193,25,221,8.3,South America
7,Armenia,21,179,11,3.8,Europe
8,Australia,261,72,212,10.4,Oceania
9,Austria,279,75,191,9.7,Europe