__pandas - výpočty v řádcích a sloupcích__

In [1]:
import pandas as pd

__Věkové kategorie v ČR__

In [2]:
vek = pd.read_excel('../data/vekova_skupina.xlsx')
vek.set_index('Rok',inplace=True)
vek

       0 - 14  15 - 64     65 +
Rok
2010  1518142  7378802  1635826
2012  1560296  7188211  1767618
2013  1577455  7109420  1825544
2014  1601045  7056824  1880406
2015  1623716  6997715  1932412
2016  1647275  6942623  1988922
2017  1670677  6899195  2040183
2018  1693060  6870123  2086617

In [3]:
# výběr 'Rok', 'Věk 0 - 14 let'
vek.loc[2010,'0 - 14']

1518142

In [4]:
# výběr 'Rok', 'Všechny věkové kategorie'
vek.loc[2010,:,]

0 - 14     1518142
15 - 64    7378802
65 +       1635826
Name: 2010, dtype: int64

__Výpočty: Procentuální zastoupení jednotlivých věkových kategorií__

In [5]:
proc = vek.div(vek.loc[2010,:,].sum()/100,0)
proc

         0 - 14    15 - 64       65 +
Rok
2010  14.413511  70.055664  15.530824
2012  14.813729  68.246159  16.782081
2013  14.976640  67.498104  17.332041
2014  15.200607  66.998748  17.852910
2015  15.415850  66.437556  18.346665
2016  15.639523  65.914503  18.883181
2017  15.861706  65.502190  19.369862
2018  16.074214  65.226175  19.810715

__Výpočty: Přehled počtu obyvatel__

In [6]:
vek['Obyvatel celkem'] = vek.sum(axis=1)
vek

       0 - 14  15 - 64     65 +  Obyvatel celkem
Rok
2010  1518142  7378802  1635826         10532770
2012  1560296  7188211  1767618         10516125
2013  1577455  7109420  1825544         10512419
2014  1601045  7056824  1880406         10538275
2015  1623716  6997715  1932412         10553843
2016  1647275  6942623  1988922         10578820
2017  1670677  6899195  2040183         10610055
2018  1693060  6870123  2086617         10649800

In [7]:
# věk 0 - 14 let za všechny sledované roky
vek.loc[:,'0 - 14']

Rok
2010    1518142
2012    1560296
2013    1577455
2014    1601045
2015    1623716
2016    1647275
2017    1670677
2018    1693060
Name: 0 - 14, dtype: int64