### Použití jednoduchých funkcí na DataFrame

In [1]:
import pandas as pd

In [2]:
data= pd.DataFrame({'Počet obyvatel':[127383854,10649800,37800000],
                    'Rozloha':[377835,78866,9984670 ]},
                    index = ['Japonsko','Česko','Kanada'])

In [3]:
data

          Počet obyvatel  Rozloha
Japonsko       127383854   377835
Česko           10649800    78866
Kanada          37800000  9984670

__nadefinujeme funkci__

In [4]:
def f(x):
    return x[0] / x[1]

aplikace funkce na DataFrame

In [5]:
data['Počet obyv./km2'] = data.apply(f,axis=1)

In [6]:
# zobrazení dat vypočítaných pomocí jednoduché funkce
data

          Počet obyvatel  Rozloha  Počet obyv./km2
Japonsko       127383854   377835       337.141488
Česko           10649800    78866       135.036644
Kanada          37800000  9984670         3.785804