__knihovna pandas - ukázka práce s indexy__

In [32]:
import pandas as pd

In [33]:
drinks = pd.read_csv('../data/drinks.csv')

In [34]:
# úprava názvů dle potřeby = DataFrame.columns = [list]
drinks.columns = ['Stát','Pivo','Lihoviny','Víno','Čistý líh','Kontinent']

__DataFrame.index__

In [22]:
# každý pandas DataFrame má index
drinks.index

RangeIndex(start=0, stop=193, step=1)

In [36]:
# rovněž pandas Series má svůj index
drinks.Kontinent

0               Asia
1             Europe
2             Africa
3             Europe
4             Africa
           ...
188    South America
189             Asia
190             Asia
191           Africa
192           Africa
Name: Kontinent, Length: 193, dtype: object

__nastavení indexu: set_index__

In [37]:
# nastavení indexu na index 'Kontinent'
drinks.set_index('Kontinent')
drinks.head()

          Stát  Pivo  Lihoviny  Víno  Čistý líh Kontinent
0  Afghanistan     0         0     0        0.0      Asia
1      Albania    89       132    54        4.9    Europe
2      Algeria    25         0    14        0.7    Africa
3      Andorra   245       138   312       12.4    Europe
4       Angola   217        57    45        5.9    Africa

In [38]:
# nastavení indexu na index 'Stát'
# inplace=True umožňuje persistenci vytvořeného indexu
drinks.set_index('Stát', inplace=True)
drinks.head()

             Pivo  Lihoviny  Víno  Čistý líh Kontinent
Stát
Afghanistan     0         0     0        0.0      Asia
Albania        89       132    54        4.9    Europe
Algeria        25         0    14        0.7    Africa
Andorra       245       138   312       12.4    Europe
Angola        217        57    45        5.9    Africa

In [39]:
# případný reset indexu na původní hodnotu
drinks.reset_index(inplace=True)

dokumentace set_index: <a href="https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html" target="_blank">set_index</a>

__value_counts()__

In [40]:
# přehled počtu hodnot pro jednotlivé sloupce 
drinks.Kontinent.value_counts()

Africa           53
Europe           45
Asia             44
North America    23
Oceania          16
South America    12
Name: Kontinent, dtype: int64

__reindex: změna pořadí sloupců__

In [41]:
new_index = ['Kontinent','Stát','Pivo','Lihoviny','Víno','Čistý líh']
drinks.reindex(new_index,axis='columns',copy=True)

         Kontinent         Stát  Pivo  Lihoviny  Víno  Čistý líh
0             Asia  Afghanistan     0         0     0        0.0
1           Europe      Albania    89       132    54        4.9
2           Africa      Algeria    25         0    14        0.7
3           Europe      Andorra   245       138   312       12.4
4           Africa       Angola   217        57    45        5.9
..             ...          ...   ...       ...   ...        ...
188  South America    Venezuela   333       100     3        7.7
189           Asia      Vietnam   111         2     1        2.0
190           Asia        Yemen     6         0     0        0.1
191         Africa       Zambia    32        19     4        2.5
192         Africa     Zimbabwe    64        18     4        4.7

[193 rows x 6 columns]