### pandas: použití 'groupby'

In [18]:
import pandas as pd

In [19]:
drinks = pd.read_csv('../data/drinks.csv')

In [20]:
drinks.columns = ['Stát','Pivo','Lihoviny','Víno','Celkem čistý líh','Kontinent']

In [21]:
drinks.head()

          Stát  Pivo  Lihoviny  Víno  Celkem čistý líh Kontinent
0  Afghanistan     0         0     0               0.0      Asia
1      Albania    89       132    54               4.9    Europe
2      Algeria    25         0    14               0.7    Africa
3      Andorra   245       138   312              12.4    Europe
4       Angola   217        57    45               5.9    Africa

In [22]:
# výpočet průměrné spotřeby piva pouze pro Evropu
beer_euro = drinks[drinks.Kontinent == 'Europe'].Pivo.mean()
print('Průměrná spotřeba - Evropa', beer_euro)

Průměrná spotřeba - Evropa 193.77777777777777

__funkce groupby()__

In [23]:
# výpočet průměrné spotřeby piva pouze pro každý kontinent
drinks.groupby('Kontinent').Pivo.mean()

Kontinent
Africa            61.471698
Asia              37.045455
Europe           193.777778
North America    145.434783
Oceania           89.687500
South America    175.083333
Name: Pivo, dtype: float64

__příklady použití agregačních funkcí__

In [24]:
drinks.groupby('Kontinent').max()

                         Stát  Pivo  Lihoviny  Víno  Celkem čistý líh
Kontinent
Africa               Zimbabwe   376       152   233               9.1
Asia                    Yemen   247       326   123              11.5
Europe         United Kingdom   361       373   370              14.4
North America             USA   285       438   100              11.9
Oceania               Vanuatu   306       254   212              10.4
South America       Venezuela   333       302   221               8.3

In [25]:
# vícenásobná agregace
drinks.groupby('Kontinent').Pivo.agg(['min','max','mean','count'])

               min  max        mean  count
Kontinent
Africa           0  376   61.471698     53
Asia             0  247   37.045455     44
Europe           0  361  193.777778     45
North America    1  285  145.434783     23
Oceania          0  306   89.687500     16
South America   93  333  175.083333     12